extends layout

block content
  h1= device_label

  h2 Readings

  if most_recent_month
    p
      span The readings for the most recent month are 
      a(href="/devices/" + device_id + "/readings/" + most_recent_month) here
      span .
  else
    p There are no readings for this device.
