doctype html
html
  head
    style
        include ../public/stylesheets/fonts.css
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/ecmascript", src="//code.jquery.com/jquery-1.12.4.js")
    script(type="text/ecmascript", src="/javascripts/d3.v3.min.js")
    script(type="text/ecmascript", src="/javascripts/process_data.js")
    block head
  body
    div.outer_page
      div.page
        div.header
          h1.page_title DataBroker

          ol.breadcrumbs
            each breadcrumb in breadcrumbs
              li
                if breadcrumb['uri']
                  a(href=breadcrumb['uri']) #{breadcrumb['label']}
                else
                  span #{breadcrumb['label']}

        block content
