doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    div.header
      h1 DataBroker

      ol.breadcrumbs
        each breadcrumb in breadcrumbs
          li
            if breadcrumb['uri']
              a(href=breadcrumb['uri']) #{breadcrumb['label']}
            else
              span #{breadcrumb['label']}

    block content
