doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/graphs/stylesheets/fonts.css')
    link(rel="apple-touch-icon", sizes="180x180", href="/graphs/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/graphs/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/graphs/favicon-16x16.png")
    link(rel="manifest", href="/graphs/manifest.json")
    meta(name="theme-color", content="#ffffff")
    link(rel='stylesheet', href='/graphs/stylesheets/style.css')
    script(type="text/ecmascript", src="//code.jquery.com/jquery-1.12.4.js")
    script(type="text/ecmascript", src="/graphs/javascripts/d3.v3.min.js")
    script(type="text/ecmascript", src="/graphs/socket.io/socket.io.js")
    script(type="text/ecmascript", src="/graphs/javascripts/process_data.js")
    block head
  body
    div.outer_page
      div.page
        div.header
          h1.page_title DataBroker

          ol.breadcrumbs
            each breadcrumb in breadcrumbs
              li
                if breadcrumb['uri']
                  a(href=breadcrumb['uri']) #{breadcrumb['label']}
                else
                  span #{breadcrumb['label']}

        block content
