@font-face {
  font-family: 'OpenSans Regular';
  src: url('/fonts/opensans_regular_ubasic/OpenSans-Regular-webfont.eot');
  src: url('/fonts/opensans_regular_ubasic/OpenSans-Regular-webfont.eot?iefix') format('eot'),
       url('/fonts/opensans_regular_ubasic/OpenSans-Regular-webfont.woff') format('woff'),
       url('/fonts/opensans_regular_ubasic/OpenSans-Regular-webfont.ttf') format('truetype'),
       url('/fonts/opensans_regular_ubasic/OpenSans-Regular-webfont.svg#webfont') format('svg');
}

@font-face {
  font-family: 'OpenSans Bold';
  src: url('/fonts/opensans_bold_ubasic/OpenSans-Bold-webfont.eot');
  src: url('/fonts/opensans_bold_ubasic/OpenSans-Bold-webfont.eot?iefix') format('eot'),
       url('/fonts/opensans_bold_ubasic/OpenSans-Bold-webfont.woff') format('woff'),
       url('/fonts/opensans_bold_ubasic/OpenSans-Bold-webfont.ttf') format('truetype'),
       url('/fonts/opensans_bold_ubasic/OpenSans-Bold-webfont.svg#webfont') format('svg');
}

body, input, select {
  font-family: "OpenSans Regular", "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, th, div.nav_prev, div.nav_next {
  font-family: "OpenSans Bold", "Lucida Grande", Helvetica, Arial, sans-serif;
}
