@font-face {
  font-family: 'OpenSans Regular';
  src: url('/fonts/opensans_regular_ubasic/OpenSans-Regular-webfont.eot');
  src: url('/fonts/opensans_regular_ubasic/OpenSans-Regular-webfont.eot?iefix') format('eot'),
       url('/fonts/opensans_regular_ubasic/OpenSans-Regular-webfont.woff') format('woff'),
       url('/fonts/opensans_regular_ubasic/OpenSans-Regular-webfont.ttf') format('truetype'),
       url('/fonts/opensans_regular_ubasic/OpenSans-Regular-webfont.svg#webfont') format('svg');
}

body {
  padding: 20px 40px 0 40px;
  font-family: /* "OpenSans Regular", */ "Lucida Grande", Helvetica, Arial, sans-serif;
  background: white;
  margin: 0;
}

div.outer_page {
  margin: auto;
  width: 1004px;
  background: white;
}

h1.page_title {
  margin-top: 0;
  padding-top: 8px;
  margin-bottom: 0px;
}

div.page {
  width: 980px;
  margin: auto;
  padding-bottom: 64px;
  min-height: 400px;
}

div.header {
  border-bottom: 2px solid #ddd;
}

a {
  color: #0000c0;
}

ol.breadcrumbs {
  padding: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}

ol.breadcrumbs li {
  display: inline;
}

ol.breadcrumbs li + li:before {
  content: " > ";
}

table.calendar_month {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

table.calendar_month td {
  border: 1px solid #ccc;
  padding: 3px;
  width: 60px;
}

table.calendar_month td.empty {
/*  background: #e0e0e0; */
}

table.calendar_month td.weekend {
/*  background: #e0e0e0; */
}

table.calendar_month td.break {
  border: 1px dashed #cccccc;
  height: 16px;
}

table.calendar_month td.weekend_break {
  border: 1px dashed #cccccc;
  background: #f0f0f0;
}

table.calendar_month div.label {
  font-size: 24px;
  color: #666666;
}

table.calendar_month div.download {
  text-align: right;
  font-size: 10px;
}

table.calendar_month td.invalid {
  background: #eee;
}

div.day_data {
  width: 125px;
  height: 75px;
}

div.no_data {
  width: 125px;
  height: 75px;
}

div.nav_prev {
  float: left;
}

div.nav_next {
  float: right;
}

div.nav_center {
  text-align: center;
  font-size: 20px;
}

div.nav_prev,
div.nav_next {
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
}

h2.nav_center {
  text-align: center;
  font-size: 16px;
  vertical-align: middle;
}

table.calendar_month {
  clear: both;
}

span.nav_arrow {
  font-size: 150%;
  color: gray;
  vertical-align: middle;
}

table.device_status th,
table.devices,
table.sensor_summary th {
  text-align: left;
}

table.devices th,
table.devices td,
table.device_status th,
table.device_status td,
table.sensor_summary th,
table.sensor_summary td {
  padding: 4px;
  border: 1px solid gray;
}

table.device_status th,
table.devices th,
table.sensor_summary th {
  background: gray;
  color: white;
}

table.sensor_summary th,
table.device_status,
table.devices,
table.sensor_summary {
  border-collapse: collapse;
  text-align: left;
}

span.tag {
  background: black;
  color: white;
  margin-left: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 3px;
}

div#graph {
  display: inline-block;
  vertical-align: top;
  width: 800px;
}

div#legend {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  width: 160px;
}

/* from d3test */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*
.x.axis path {
  display: none;
}
*/

.grid {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.0px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.whiteout {
  fill: none;
  stroke: white;
  stroke-width: 8.0px;
}

div.legend {
/*  border: 1px solid gray;
  background: #eee;
  border-radius: 4px;*/
  padding: 8px;
}

div#controls table th {
  text-align: right;
  width: 120px;
}

div#controls table td input,
div#controls table td select {

  width: 80px;
}



/* Bivariate chart */

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.area {
  stroke-width: 0.0;
}

